<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">

<link
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">

<link rel="stylesheet" href="/css/style.css">

</head>

<body>

<div class="center-box">

<div class="card-dark" style="width:500px">

<h1 class="title title-custom">
Login
</h1>

<form action="/login" method="POST">

<div class="field">

<label class="label">
E-mail
</label>

<input
class="input"
type="email"
name="email">

</div>

<div class="field">

<label class="label">
Senha
</label>

<input
class="input"
type="password"
name="senha">

</div>

<button
class="button is-primary success-btn">

Entrar

</button>

</form>

<hr>

<p class="text-white">

Ainda não possui conta?

<a href="/register">
Cadastre-se
</a>

</p>

</div>

</div>

</body>
</html>