<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">

<link
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">

<link rel="stylesheet" href="/css/style.css">

</head>

<body>

<section class="section">

<div class="container">

<div class="card-yellow">

<h1 class="title">

Área exclusiva para usuários Senior

</h1>

<p>

Usuário:
<%= user.email %>

</p>

<p>

Role:
<%= user.role %>

</p>

<a
href="/home"
class="button">

Voltar

</a>

</div>

</div>

</section>

</body>
</html>